.vscode-test/
*.vsix
/.psa*
/.psc*
/.purs*
/.spago/
/bower_components/
/generated-docs/
/node_modules/
/output/
/vscode.d.ts
/vscode.proposed.d.ts
dist
node_modules
node_modules
out
**/.juvix-build
.history
html/
