.vscode/**
.vscode-test/**
!out/extension.js
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
checklist.md
HACKING.md
.history
